.mapContainer {
  position: relative;
  overflow: hidden;
}

.formContainer {
  position: absolute;
  top: 1.2rem;
  width: 50rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.2rem;
  background-color: transparent;
}

.findStationTitle {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #ed560e, #ffca08);
  border-radius: 0 5px 5px 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding: 1.2rem;
}

.titleText {
  color: #fff;
  font-size: 3.6rem;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.findStationForm,
.locationIconContainer,
.locationInput,
.distanceDisplay {
  background-color: #fff;
  border-radius: 5px;
  border: 1.5px solid #ccc;
}

.findStationForm,
.distanceDisplay {
  width: 46rem;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.locationIconContainer {
  cursor: pointer;
  height: 3.6rem;
}

.location,
.filters {
  display: flex;
  gap: 1rem;
  flex-grow: 1;
}

.locationInput {
  flex-grow: 1;
  padding-left: 1rem;
  font-family: inherit;
  font-size: 1.6rem;
  width: 39.7rem;
  height: 3.6rem;
}

.filterBtn {
  flex-grow: 1;
  background-color: #fff;
  border-radius: 3px;
  border: 1.5px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.4rem;
  gap: 0.8rem;
  padding: 0.6rem;
  cursor: pointer;
}

.filterText {
  font-weight: 700;
}

.premium {
  font-weight: 900;
  background-image: linear-gradient(to right, #f20000, #520101);
  background-clip: text;
  color: transparent;
}

.unleaded {
  font-weight: 900;
  background-image: linear-gradient(to right, #03a200, #014601);
  background-clip: text;
  color: transparent;
}

/* DistanceDisplay styling */
.distanceDisplayTitleBanner {
  display: flex;
  background-image: linear-gradient(to left, #ed560e, #ffca08);
  height: 6rem;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

.showStationCardsBtn {
  background-color: transparent;
  border: none;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

.distanceDisplayTitle {
  font-size: 2rem;
  font-weight: 400;
}

.distanceDisplayBtnDiv {
  display: flex;
  gap: 2rem;
}

.distanceDisplayBtn {
  margin-right: 1rem;
  font-size: 2rem;
  background: none;
  border: none;
  font-weight: 700;
}

.distanceDisplay {
  border-radius: 0 0 5px 5px;
  height: 50rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Card station styles */
.stationCard {
  width: 100%;
  height: auto;
  padding-bottom: 3rem;
  margin-left: 1.2vw;
  border-bottom: solid 1px #353535;
}

.stationLabel {
  font-size: 2rem;
  color: #2f27a4;
  margin-top: 1.2vh;
  margin-bottom: 0.8vh;
  width: 90%;
}

.stationAddress {
  font-size: 1.3rem;
  margin-bottom: 2vh;
}

.openFuelDiv {
  display: flex;
  margin-bottom: 3vh;
}

.openDiv {
  width: 40%;
}

.opening {
  color: #ed560e;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.7vh;
}

.phone {
  font-size: 1.1rem;
  color: #353535;
}

.fuelDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.5rem;
}

.z95Div,
.z91Div,
.zDieselDiv {
  width: 9rem;
  border-radius: 5px;
  margin-right: 1rem;
  height: 100%;
  color: white;
  text-align: center;
}

.z95Div {
  background-color: #fd0101;
}

.z91Div {
  background-color: #03a200;
}

.zDieselDiv {
  background-color: black;
}

.fuelLabel {
  margin: 1vh 0 0.5vh;
}

.fuelPrice {
  font-size: 2rem;
}

.servicesLabel {
  text-decoration: underline;
  font-size: 2rem;
  margin-bottom: 1vh;
  color: #353535;
}

.servicesList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.servicesListItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
}

.showStationCardsBtn {
  display: none;
}
/* Below 1050 pixels (small laptops) */
/* Using em units, 1050/16 = 66em */
@media (max-width: 66em) {
  .formContainer {
    width: 32rem;
  }

  .titleText {
    font-size: 2.8rem;
  }

  .findStationForm,
  .distanceDisplay,
  .distanceDisplayTitleBanner {
    width: 30rem;
  }

  .locationIconContainer {
    height: 2rem;
    width: 2rem;
  }

  .locationInput {
    font-size: 1.2rem;
    padding-left: 0.8rem;
    width: 23.6rem;
  }

  .filterBtn {
    font-size: 1rem;
  }

  .filterBtn:nth-child(2) {
    display: none;
  }

  .distanceDisplayTitle,
  .distanceDisplayBtn {
    font-size: 1.6rem;
  }

  .openFuelDiv {
    flex-direction: column;
    gap: 1rem;
  }

  .servicesLabel {
    font-size: 1.6rem;
  }

  .servicesListItem {
    font-size: 1.4rem;
  }

  .showStationCardsBtn {
    display: block;
  }

  .minimiseContainer {
    position: absolute;
    bottom: -90rem;
    transition: all 0.3s ease-in-out;
  }
}

/* Below 750 pixels (tablet) */
/* Using em units, 1050/16 = 66em */
@media (max-width: 66em) {
  .formContainer {
    width: 100vw;
    top: 0;
  }

  .findStationForm,
  .distanceDisplay,
  .location,
  .distanceDisplayTitleBanner {
    width: 95vw;
  }

  .locationInput {
    width: 70vw;
  }
}

@media (max-width: 32em) {
  .mapContainer {
    height: 80vh;
  }

  .distanceDisplayTitle {
    font-size: 1.2rem;
  }
}
