.header {
  height: 10vh;
  display: flex;
  align-items: center;
}

.logo {
  height: 7vh;
  margin-left: 10vw;
}

.navBar {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 80vw;
}

.navLink {
  font-size: 12px;
  font-weight: bold;
}
