/* Edit your global styling here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  color: #000;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
  --color-orange: #ed560e;
  --color-yellow: #ffcb08;
  --color-blue: #2f27a4;
  --color-dark-blue: #1e196a;
  --color-dark-grey: #353535;
  --color-white: #f8f8f8;
}
